In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('creditcard.csv')

In [3]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

distribution of normal and fraud transactions

In [8]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [9]:
#sepeate data 
normal = df[df.Class == 0]
fraud = df[df.Class == 1]

In [10]:
normal.shape

(284315, 31)

In [11]:
fraud.shape

(492, 31)

building new normal dataset containing similar distributions of normal and fraud transactions

In [12]:
normal_sample = normal.sample(n=492)

In [13]:
#concatinating the two dataset
new_dataset = pd.concat([normal_sample,fraud],axis = 0)

In [14]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
262767,160637.0,0.612594,0.152592,-0.309627,-0.119733,0.806966,-0.440160,-1.575931,-1.934770,-1.307684,...,1.500575,-0.676076,-1.835391,-0.848020,0.366664,0.276758,0.351293,0.289686,25.00,0
101346,67803.0,1.301311,0.468738,-0.015289,0.907748,0.292125,-0.452431,0.326046,-0.284249,-0.232755,...,-0.005787,0.120158,-0.226296,-0.406401,0.859488,-0.282011,0.024206,0.015890,6.00,0
166889,118367.0,1.837468,-0.761769,-0.835587,0.095840,-0.374113,0.238155,-0.658886,0.222902,1.360517,...,0.271242,0.648005,0.025380,0.158309,-0.084475,-0.586499,0.024423,-0.029686,89.00,0
253809,156430.0,-0.120400,0.845400,0.297701,-0.692006,0.331591,-0.846500,0.890229,-0.075607,-0.161557,...,-0.191320,-0.487426,0.082339,0.054926,-0.562138,0.103910,0.104814,0.084377,7.99,0
227602,145139.0,-2.075661,0.111866,-0.144546,0.079908,1.626611,-1.056263,1.421973,0.196238,-1.538231,...,0.396345,0.426491,-0.447482,-0.310733,1.576384,-0.361898,-0.173618,-0.209652,138.00,0

In [15]:
new_dataset.shape

(984, 31)

spliting the new_dataset into x and y

In [16]:
x = new_dataset.drop(columns = 'Class',axis = 1)
y = new_dataset['Class']

In [17]:
x

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
262767,160637.0,0.612594,0.152592,-0.309627,-0.119733,0.806966,-0.440160,-1.575931,-1.934770,-1.307684,...,0.082796,1.500575,-0.676076,-1.835391,-0.848020,0.366664,0.276758,0.351293,0.289686,25.00
101346,67803.0,1.301311,0.468738,-0.015289,0.907748,0.292125,-0.452431,0.326046,-0.284249,-0.232755,...,0.001406,-0.005787,0.120158,-0.226296,-0.406401,0.859488,-0.282011,0.024206,0.015890,6.00
166889,118367.0,1.837468,-0.761769,-0.835587,0.095840,-0.374113,0.238155,-0.658886,0.222902,1.360517,...,-0.098800,0.271242,0.648005,0.025380,0.158309,-0.084475,-0.586499,0.024423,-0.029686,89.00
253809,156430.0,-0.120400,0.845400,0.297701,-0.692006,0.331591,-0.846500,0.890229,-0.075607,-0.161557,...,-0.080029,-0.191320,-0.487426,0.082339,0.054926,-0.562138,0.103910,0.104814,0.084377,7.99
227602,145139.0,-2.075661,0.111866,-0.144546,0.079908,1.626611,-1.056263,1.421973,0.196238,-1.538231,...,0.332053,0.396345,0.426491,-0.447482,-0.310733,1.576384,-0.361898,-0.173618,-0.209652,138.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [18]:
y

262767    0
101346    0
166889    0
253809    0
227602    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

splitting dataset into training and testing

In [19]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.2, stratify=y,random_state=42)

In [20]:
print(x_train,x_test,y_train,y_test)

            Time         V1         V2         V3        V4         V5  \
221009  142392.0  -2.121936  -1.647227   1.374398  0.449036  -1.229553
112590   72716.0  -1.322024   1.512386   0.625507  1.240638  -0.255313
56703    47545.0   1.176716   0.557091  -0.490800  0.756424   0.249192
150684   93888.0 -10.040631   6.139183 -12.972972  7.740555  -8.684705
6882      8808.0  -4.617217   1.695694  -3.114372  4.328199  -1.873257
...          ...        ...        ...        ...       ...        ...
39183    39729.0  -0.964567  -1.643541  -0.187727  1.158253  -2.458336
253362  156215.0  -1.467851  -0.984280   0.888707 -0.700243  -1.160602
143335   85285.0  -6.713407   3.921104  -9.746678  5.148263  -5.151563
85382    60750.0   1.268781  -0.961254   0.465823 -2.140585  -1.552236
17317    28625.0 -27.848181  15.598193 -28.923756  6.418442 -20.346228

              V6         V7         V8        V9  ...       V20       V21  \
221009  1.910142   2.648675   0.064330  0.253094  ...  1.414447  0.660712
112590  0.196293  -0.245729   1.037778 -0.407959  ... -0.165325 -0.011025
56703  -0.781871   0.228750  -0.040840 -0.432111  ... -0.102772 -0.062166
150684 -3.837429 -11.907702   5.833273 -5.731054  ... -0.082275  2.823431
6882   -0.989908  -4.577265   0.472216  0.472017  ... -0.039046  0.481830
...          ...        ...        ...       ...  ...       ...       ...
39183   0.852222   2.785163  -0.303609  0.940006  ...  1.784449  0.447180
253362 -0.195383   0.093561   0.417523 -0.930298  ...  0.707373  0.499555
143335 -2.099389  -5.937767   3.578780 -4.684952  ...  0.135711  0.954272
85382  -1.128984  -0.642324  -0.111698  0.062435  ... -0.393227 -0.470873
17317  -4.828202 -19.210896  18.329406 -3.668735  ...  1.697856  1.802149

             V22       V23       V24       V25       V26       V27       V28  \
221009  1.034894  0.952799  0.649966  1.378246 -0.348283 -0.337821 -0.117286
112590 -0.036241 -0.216748 -0.443908  0.235485 -0.146529  0.016541  0.012269
56703  -0.128168 -0.040176  0.110040  0.437891  0.368809 -0.018287  0.031173
150684  1.153005 -0.567343  0.843012  0.549938  0.113892 -0.307375  0.061631
6882    0.146023  0.117039 -0.217565 -0.138776 -0.424453 -1.002041  0.890780
...          ...       ...       ...       ...       ...       ...       ...
39183   0.536204  1.634061  0.203839  0.218749 -0.221886 -0.308555 -0.164500
253362  0.866811 -0.021721 -0.071658  0.918288  0.375752 -0.138329 -0.094159
143335 -0.451086  0.127214 -0.339450  0.394096  1.075295  1.649906 -0.394905
85382  -0.963571  0.150239  0.496334  0.083446 -0.301390  0.026420  0.027369
17317  -2.062934 -1.269843  0.165409  1.999499 -0.211059  1.324809  0.388090

        Amount
221009  690.00
112590    1.00
56703     0.76
150684    1.00
6882      1.10
...        ...
39183   776.83
253362  237.16
143335  252.92
85382    53.68
17317    99.99

[787 rows x 30 columns]             Time        V1        V2        V3        V4        V5        V6  \
230076  146179.0 -0.067672  4.251181 -6.540388  7.283657  0.513541 -2.635066
262826  160665.0 -0.417340  4.700055 -7.521767  7.671884  0.260821 -2.646693
150394   93269.0 -2.745710  2.434711 -0.047810 -1.314993  0.232181 -1.237996
30314    35866.0 -2.044489  3.368306 -3.937111  5.623120 -3.079232 -1.253474
53503    46014.0  1.311238 -0.365107  0.427021  0.498297 -0.504007  0.412464
...          ...       ...       ...       ...       ...       ...       ...
277638  167765.0  1.997634 -0.138502 -0.767439  0.219771 -0.319873 -1.112293
6472      7740.0  1.023874  2.001485 -4.769752  3.819195 -1.271754 -1.734662
174153  121797.0  2.091029 -0.110285 -1.465884  0.058664  0.433457 -0.299445
52466    45463.0 -1.476893  2.122314 -1.229470  1.201849 -0.343264 -1.317704
72363    54673.0  1.484087 -0.956095  0.575941 -1.238585 -1.718018 -1.216717

              V7        V8        V9  ...       V20       V21       V22  \
230076 -1.865911  0.780272 -3.868248  ...  0.519404  0.415437 -0.469938
262826 -2.854432  0.958783 -4.588536  ...  0.832035  0.622200 -0.437708
150394  1.056645 -0.244293  2.884277  ...  0.711943 -0.240038  0.193199
30314  -5.778880  1.707428 -4.467103  ...  1.112028  1.483594  0.834311
53503  -0.566812  0.069979 -0.842375  ... -0.469358 -0.434287 -0.528945
...          ...       ...       ...  ...       ...       ...       ...
277638  0.024682 -0.268509  0.480774  ... -0.138177 -0.435468 -1.292381
6472   -3.059245  0.889805  0.415382  ...  0.204138  0.343283 -0.054196
174153  0.077427 -0.137061  0.313275  ... -0.163654 -0.301572 -0.753699
52466  -1.528142 -0.620953 -1.213040  ...  0.276893  1.186036 -0.040215
72363  -0.892115 -0.275239 -1.871585  ... -0.325333 -0.188728 -0.164216

             V23       V24       V25       V26       V27       V28  Amount
230076  0.007128 -0.388147 -0.493398  0.466468  0.566370  0.262990    0.77
262826 -0.090358 -0.742802 -0.312361  0.502575  0.821390  0.372379    0.77
150394 -0.434620 -0.104522  1.640351 -0.064477  0.665487  0.587128   15.30
30314  -0.148486  0.001669 -0.038996  0.389526  1.300236  0.549940    7.61
53503  -0.146883 -0.500941  0.699856 -0.265966  0.066310  0.011655   10.00
...          ...       ...       ...       ...       ...       ...     ...
277638  0.536626 -0.053487 -0.733082  0.020164 -0.066224 -0.043999   26.01
6472    0.709654 -0.372216 -2.032068  0.366778  0.395171  0.020206    1.00
174153  0.198529 -1.030078 -0.183908  0.240829 -0.074264 -0.079877    1.98
52466  -0.238930  0.110144  0.045418 -0.569232  0.481019 -0.047555    1.00
72363   0.069117  0.689393  0.341905 -0.227170  0.029353  0.025426   20.00

[197 rows x 30 columns] 221009    0
112590    0
56703     1
150684    1
6882      1
         ..
39183     1
253362    0
143335    1
85382     0
17317     1
Name: Class, Length: 787, dtype: int64 230076    1
262826    1
150394    0
30314     1
53503     0
         ..
277638    0
6472      1
174153    0
52466     1
72363     0
Name: Class, Length: 197, dtype: int64

model training and testing

In [21]:
model = LogisticRegression()

In [22]:
model.fit(x_train,y_train)

LogisticRegression()

accuracy score

In [23]:
y_predict = model.predict(x_test)

In [25]:
acc = accuracy_score(y_test,y_predict)

In [26]:
acc

0.9238578680203046

so we got accuracy of 92% by training a model using logistic regression